.title_bar{
    display:flex;
    text-align: center;
    align-items: center;
    margin-left: 20px;
    font-size: 1.1rem;
    color: #bfbfbf;
    font-weight: bold;
    white-space: nowrap;
    user-select: none;
}
.big_stage_divider.non_search{
    display:none;
}
.bwdb_sidebarA{
    margin-top: 5px; 
}
.bwdb_sidebar_item{
    margin-top: unset;
    margin-bottom: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
@media screen and (max-width:775px) {
    .title_bar {
      display:none;
    }
}
.panel{
    border: 1px #000 solid;
    margin: 20px;
}
.panel.panel-primary{
    border-color: #252526;
}
.panel .panel-heading{
    background-color: #8f8f8f;
    padding-left: 5px;
    padding-top: 8px;
    padding-bottom: 2px;
}
.panel.panel-primary .panel-heading{
    background-color: #37373D;
    user-select: none;
    
}
.panel .panel-heading .panel-title{
    color:#fff;
    font-size: 1rem;
    user-select: none;
    font-weight: bold;
    
}
.panel-body{
    margin: 20px;
    color:#bfbfbf;
}

.edit_item{
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 2px;
    justify-content: space-between;
}
.edit_item .edit_title{
    font-weight: bold;
    margin-right: 5px;
    float: left;
    user-select: none;
}
.edit_item .edit_control{
    width:80%;
}
.info_box_pics.manage{
    margin: unset !important;
}
#edit_pic_toolbar button{
    margin-bottom: 15px;
    margin-right: 5px;
}
@media (prefers-color-scheme: dark) {
    .edit_control input{
        background-color: #252526;
        color:#bfbfbf;
    }
    .edit_control input:focus{
        color:#fff;
        background-color: #252526;
    }
    .edit_control textarea{
        background-color: #252526;
        color:#bfbfbf;
    }
    .edit_control select{
        background-color: #252526;
        color:#bfbfbf;
    }
    .edit_control select:focus{
        color:#bfbfbf;
        background-color: #252526;
    }
    .edit_control textarea:focus{
        color:#bfbfbf;
        background-color: #252526;
    }
    .edit_control select option:active{
        color:#fff;
        background-color: #252526;
    }
    input.open{
        background-color: #252526;
        color:#bfbfbf;
    }
    .es-list{
        background-color: #252526;
        color:#bfbfbf;
    }
    .es-input{
        background-color: #252526;
        color:#bfbfbf;
    }
    .edit_control .es-list li:hover{
        background-color:#37373D;
        color:#fff;
    }
    button.pic_btn{
        background-color: #252526;
        border: 1px solid #37373D;
    }
    button.pic_btn:hover{
        background-color:#37373D;
    }
} 
@media (prefers-color-scheme: light) {
    body{
        color: #fff;
    }
    .panel.panel-primary .panel-heading{
        background-color: #19478a;
    }
    .panel.panel-primary{
        border-color: #19478a;
    }
    .panel-body{
        color: #000;
    }
    .title_bar{
        color: #fff;
    }
}